{% extends 'layouts/navbar.html' %}

{% block content %}
<center>
    <h1 class="infoTable mt-3" >¡Hola {{ user.username }}! Bienvenido de nuevo - Rol: Administrador</h1>

    <div class="container-fluid container_content">
        <div class="container_form">
            <h1 class="titleText">Formulario para {% if update %} editar{% else %}crear {%endif%} un repuesto</h1>
            <form action="" method="post">
                <div class="row">
                    <div class="col-6">
                    {% csrf_token %}
                    <label for="" class="labelInputs">Nombre del repuesto</label> <br>
                    {{ form.nameItem }} <br> <br>
                    <label for="" class="labelInputs">Precio</label> <br>
                    {{ form.price }}   <br> <br> <!-- Sin usar {{ form.username.label }} -->
                    <label for="" class="labelInputs">Aprobado</label> <br>
                    {{ form.approved }} <br> <br>       
                    
                    
                </div>
                    <div class="col-6"> 
                        <label for="" class="labelInputs">Instalado</label> <br>
                        {{ form.status_Install }} <br> <br>            
                        <label for="" class="labelInputs">Pagado</label> <br>
                        {{ form.status_Payment }} <br> <br>       
                        <label for="" class="labelInputs">Torre</label> <br>
                        {{ form.tower }} <br> <br>
                    </div>
                </div>  
                <button class="buttonSendForm" type="submit" value="{{ building.id }}">{% if update %}Editar {% else %}Crear {%endif%}repuesto</button> <br><br>    
            </form>
        </div>
    </div>
{% endblock %}