{% extends 'layouts/navbar.html' %}

{% block content %}
<center>
    <h1 class="infoTable mt-3" >¡Hola {{ user.first_name }} {{ user.last_name }}! Bienvenido de nuevo - Rol: {{ user.groups.all.0.name|default:"Sin Rol" }}</h1>

    <div class="container-fluid container_content">
        <div class="container_form">
            <h1 class="titleText">Formulario para {% if update %} editar{% else %}crear {%endif%} un edificio / cliente</h1>
            <form action="" method="post">
                <div class="row">
                    <div class="col-6">
                        {% csrf_token %}
                        <label for="" class="labelInputs">Nombre</label> <br>
                        {{ forms.first_name }} <br> <br>
                        <label for="" class="labelInputs">Nombre de usuario (Sin espacios)</label> <br>
                        {{ forms.username }}   <br> <br> <!-- Sin usar {{ form.username.label }} -->
                        <label for="" class="labelInputs">Contraseña {% if update %} (Opcional){%endif%}</label> <br>
                        {{ forms.password1 }} <br> <br>       

                        <!--Campos para crear torres, unicamente disponibles al crear un edificio-->
                        {% if not update %}
                            <label for="" class="labelInputs">Torres (opcional): se creará una por defecto si no ingresas ninguna.</label> <br>
                            {{ forms.tower1 }}
                            <br> <br>
                            {{ forms.tower2 }}
                            <br> <br>
                            {{ forms.tower3 }}
                            <br> <br>
                        {%endif%}
                    </div>
                    <div class="col-6"> 
                        <label for="" class="labelInputs">Correo electronico</label> <br>
                        {{ forms.email }} <br> <br>            
                        <label for="" class="labelInputs">Direccion</label> <br>
                        {{ forms.address }} <br> <br>       
                        <label for="" class="labelInputs">Confirmacion de contraseña {% if update %} (Opcional){%endif%}</label> <br>
                        {{ forms.password2 }} <br> <br>
                    </div>
                </div>  
                <button class="buttonSendForm" type="submit">{% if update %}Editar {% else %}Crear {%endif%}edificio</button> <br><br>    
            </form>
        </div>
    </div>
{% endblock %}