{% extends 'layouts/navbar.html' %}
{% load static %}

{% block content %}
<center>
    <h1 class="infoTable mt-3" >¡Hola {{ user.username }}! Bienvenido de nuevo - Rol: Administrador</h1>
    <div class="containerFilter row mb-3 mt-5">
        <div class="col-6">
            <h1 class="titleText">Edificios / Clientes</h1>
        </div>
        <div class="col-6">
            <a href="{% url 'createBuilding' %}"> <!-- Crear cliente / edificio -->
                <button class="botonCrear">
                    <i class="fa-solid fa-plus"></i>
                    Nuevo edificio
                </button> 
            </a>
            <a href="{% url 'listParts' %}"> <!-- Ver todos lods Repuestos -->
                <button class="botonExpediente">
                    <i class="fa-regular fa-file"></i>
                    Ver Repuestos
                </button>
            </a> <br> <br>   

            <style>
    /* Contenedor del formulario */
    form {
        position: relative;
        max-width: 300px;
    }


    /* Lista de sugerencias */
    .suggestions-list {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #111c28;
        border: 1px solid white;
        border-top: none;
        list-style: none;
        margin: 0;
        padding: 0;
        max-height: 200px;
        overflow-y: auto;
        z-index: 1000;
        display: none; /* Oculto por defecto */
    }

    /* Cada opción */
    .suggestions-list li {
        padding: 8px;
        cursor: pointer;
        font-size: 14px;
        color: white;
    }

    /* Hover en opciones */
    .suggestions-list li:hover {
        background-color: #344455;
    }
</style>

<form method="get">
    {% csrf_token %}
    {{ form.nombre }}
    <ul id="suggestions" class="suggestions-list"></ul>
    <button type="submit" class="botonEditar">Buscar</button>
</form>
        </div>
    </div>
    

    <!-- Titulos de la tabla -->
    <div class="tableData">
        <div class="row containerTitlesTable">
            <div class="col-2">
                <p class="titlesTable">Nombre</p>
            </div>
            <div class="col-1">
                <p class="titlesTable">Correo</p>
            </div>
            <div class="col-1">
                <p class="titlesTable">Usuario</p>
            </div>
            <div class="col-2">
                <p class="titlesTable">Dirección</p>
            </div>
            <div class="col-3">
                <p class="titlesTable">Torres</p>
            </div>
            <div class="col-3">
                <p class="titlesTable">Opciones</p>
            </div>
        </div>
    

    {% for individualbuildingList in buildingList %}
        <div class="row containerInfoTable">
            <div class="col-2 divData">
                <p class="infoTable">{{ individualbuildingList.user.first_name }}</p>
            </div>
            <div class="col-1 divData">
                <p class="infoTable">{{ individualbuildingList.user.email }}</p>
            </div>
            <div class="col-1 divData">
                <p class="infoTable">{{ individualbuildingList.user.username }}</p>
            </div>
            <div class="col-2 divData">
                <p class="infoTable">{{ individualbuildingList.address }}</p>
            </div>
            <div class="col-3 divData">
                <p class="infoTable">
                    {% for torre in individualbuildingList.towers.all %}
                        {{ torre.name }} <br>
                    {% empty %}
                        <p class="infoTable">Torre unica</p>
                    {% endfor %}
                </p>
            </div>
                
            <div class="col-3">
                <a href="{% url 'editBuilding' %}?id={{ individualbuildingList.user.id }}"> <!-- Editar cliente -->
                    <button class="botonEditar">
                        <i class="fa-regular fa-pen-to-square"></i>
                        Editar
                    </button>
                </a>
                
                <a href="{% url 'listTowers' %}?id={{ individualbuildingList.id }}"> 
                    <button class="botonEditar">
                        <i class="fa-regular fa-pen-to-square"></i>
                        Ver torres
                    </button>
                </a>
                <a href="{% url 'listParts' %}?id={{ individualbuildingList.user.id }}"> <!-- Repuestos cliente -->
                    <button class="botonExpediente">
                        <i class="fa-regular fa-file"></i>
                        Repuestos
                    </button>
                </a>                
                <a href="{% url 'deleteBuilding' %}?id={{ individualbuildingList.user.id }}" onclick="return confirm('¿Estás seguro de eliminar este edificio / cliente?');"> <!-- Eliminar cliente -->
                    <button class="botonEliminar">
                        <i class="fa-solid fa-trash"></i>
                        Eliminar
                    </button>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
</center>
{% endblock %}